.appContainer {
  height: 100%;
  /* overflow: hidden; */

  display: flex;
  flex-direction: column;

  background-color: skyblue;
}
.appContent {
  width: 100%;
  background-color: rgb(47, 88, 57);
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.appFooter {
  width: 100%;
}
